:root {
    --color-selection: #ffe732;
    --color-main: blueviolet;
}

::selection {
    background: var(--color-selection);
}

* {
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    margin: 0;
}

.container {
    position: relative;
    width: 100%;
}

.content {
    margin: 0 auto;
    max-width: 550px;
}

.slow-text {
    overflow: auto;
    height: 100vh;
}

.slow-text__inner {
    max-height: 100vh;
    padding: 0 20px;
    text-align: justify;
}

.slow-text span {
    opacity: 0;
    font-size: 16px;
    transition: opacity .5s ease;
}

.slow-text span.is-visible {
    opacity: 1;
}

.play {
    position: fixed;
    width: 60px;
    height: 60px;
    right: 20px;
    bottom: 20px;
    border: 0;
    background-color: var(--color-main);
    border-radius: 6px;
    opacity: .6;
    transition: opacity .2s ease;
}

.play:active {
    transform: scale(.9);
}

.play:focus {
    outline: 0;
}

.play:hover {
    opacity: 1;
}