:root {
    --color-selection: #ffe732;
    --color-main: blueviolet;
}

::selection {
    background: var(--color-selection);
}

* {
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    margin: 0;
}

.container {
    position: relative;
    width: 100%;
}

.content {
    margin: 0 auto;
    /* max-width: 550px; */
}
.reader {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.slow-reader {
    margin: 40px;
    padding: 20px;
    flex-basis: 20%;
}
.slow-reader-inner {
    padding: 0 20px;
    position: relative;
}
.slow-reader.m--small .slow-reader-words{
    height: 300px;
}
.slow-reader-words {
    height: 100vh;
    overflow: auto;
    text-align: justify;
}

.slow-reader span {
    opacity: 0;
    font-size: 16px;
    transition: opacity .5s ease;
}

.slow-reader span.is-visible {
    opacity: 1;
}

.slow-reader-play {
    position: absolute;
    width: 60px;
    height: 60px;
    right: -100px;
    bottom: 20px;
    border: 0;
    background-color: var(--color-main);
    border-radius: 6px;
    opacity: .6;
    transition: opacity .2s ease;
}

.slow-reader-play:active {
    transform: scale(.9);
}

.slow-reader-play:focus {
    outline: 0;
}

.slow-reader-play:hover {
    opacity: 1;
}

.nav {

}

.nav-item {
    list-style: none;
}